#box
{
    /*Sets the heigth and width and default box colour*/
    width: 200px;
    height: 200px;
    background-color:green;
}

#box p
{   
    /*Centres the text in the box*/
    text-align: center;
    padding-top: 20px;
}